body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: #F4F4F4;
}

nav{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    list-style: none;
    padding: 0%;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}


a{
    text-decoration: none;
    color: #049585;
}

#logo{
    width: 30%;
}

#ul-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border: 2px solid #049585;
    transition: 0.3s ease-in-out;
}

#ul-btn:hover{
    background-color: #049585;
    color: white;
}


header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background: linear-gradient(to right,#83DDD3,#CBF5F1);
    justify-content: space-around;
}

.mobile-header{
    display: none;
}

.header-text{
    color: white;
    width: 40%;
}

.mobile-text{
    display: none;
}

#par1{
    font-size: 36px;
}

#par2{
    font-size: 14px;
}

#part1{
    font-size: 42px;
    font-weight: 500;
}

#part2{
    padding-left: 50px;
}

.boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.box{
    width: 200px;
    border-radius: 20px;
    height: 128px;
    text-align: center;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #049585;
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.04);
}

.about{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.about-text{
    width: 40%;
    height: fit-content;
    margin-top: 100;
}

.about-text h2{
    color: #049585;
    margin-bottom: 60px;
}

.team{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 100px;
}

.team-text{
    width: 30%;
    text-align: center;
}

.team-text h2{
    font-size: 30px;
    color: #049585;
}

.team-text-mobile{
    display: none;
}

.element{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.feedback{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.feedback h2{
    font-size: 30px;
    color: #049585;
}

.comments{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.comment{
    width: 30%;
    font-size: 15px;
}

footer{
    margin-top: 100px;
    font-size: 13px;
    background: linear-gradient(to right,#83DDD3,#CBF5F1);
}


.footer{
    width: 90%;
    margin: 0 auto;
}

.footer img{
    width: 80px;
}

.parts{
    display: flex;
    justify-content: space-between;
    
}


.part{
    width: 25%;
}

#workh{
    align-items: center;
}

.nav-links{
    display: grid;
}

.rights p{
    width: fit-content;
    margin: 0 auto;
}

.contact-elements{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.head{
    text-align: center;
}
.head h2{
    color: #049585;
}

.head p{
    font-size: 15;
    width: 700px;
    margin: 0 auto;
}

.contact-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.element-info{
    width: 30%;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle{
    border-left: 2px solid #1FB49D;
    border-right: 2px solid #1FB49D;
}

.working-hours{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.working-hours h2{
    color: #049585;
}

.working-hours p{
    font-size: 15px;
    line-height: 30px;
}

.workh-mobile{
    display: none;
}

.logo-mobile{
    display: none;
}


.map{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.map h2{
    color: #049585;
}

.google-maps{
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 30px;
    margin-top: 50px;
}


.about-header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.about-page-text{
    margin-top: 50px;
}

.about-page-text h2{
    color: #049585;
}

.about-page-text p{
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
}

.about-img{
    position: relative;
}

.about-img img{
    width: 660.03px;
    height: 290px;
}

.bg-about{
    width: 471px;
    height: 290px;
    background: linear-gradient(to right,#83DDD3,#CBF5F1);
    border-radius: 30px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.client-feedback{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.client-feedback h2{
    color: #049585;
}

.feed{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.client-feedback p{
    width: 60%;
}

.examination{
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.text-examination{
    text-align: center;
    width: 30%;
    height: fit-content;
}

.text-examination h2{
    color: #049585;
    font-size: 30px;
}

.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icon-box p{
    padding-left: 30px;
    
}

.icon-boxs{
    margin-bottom: 50px;
}



@media screen and (max-width: 1024px){
    nav{
        display: none;
    }
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }

    .desktop-text{
        display: none;
    }
    .mobile-text{
        display: block;
    }

    header{
        display: block;
        margin-bottom: 50px;
    }
    .header-img{
        width: fit-content;
        margin: 0 auto;
    }

    .header-text{
        margin: 0 auto;
        text-align: center;
        width: 330px;
    }

    #part1{
        margin: 0%;
    }

    #part2{
        padding: 0%;
        margin: 0%;
        font-size: 30px;
    }

    #par2{
        padding-bottom: 30px;
    }

    .boxs{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .box{
        margin-bottom: 70px;
    }

    .about{
        display: block;
        text-align: center;
    }

    .about-text{
        margin: 0 auto;
        width: 70%;
        font-size: 15px;
        margin-top: 50px;
    }

    .team-text-mobile{
        display: block;
    }

    .team-text-desktop{
        display: none;
    }

    .team{
        display: block;
        text-align: center;
    }

    .team-text{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .workh-desktop{
        display: none;
    }

    .workh-mobile{
        display: block;
    }

    .logo-desktop{
        display: none;
    }
    .logo-mobile{
        display: block;
    }

    #workh{
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        margin-bottom: 40px;
    }

    .parts{
        width: 85%;
        margin: 0 auto;
        font-size: 13px;
    }
}
