.container {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  /* background: gray; */
  border: 2px solid white;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.container header {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}
.container form {
  width: 80%;
  margin: 0 auto;
}
.container form #email, .container form #password, .container form #date {
  background: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
  outline: none;
}
.container form .user {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.container form .user input {
  background: none;
  width: 48%;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 2px solid white;
  outline: none;
}
.container form .pass {
  position: relative;
}
.container form .pass div {
  position: absolute;
  right: 5;
  top: 11px;
  background: none;
  border: none;
  z-index: 10;
}
.container form .pass .openlock {
  display: none;
}
.container form .check {
  display: flex;
  align-items: center;
}
.container form .check label {
  color: white;
  font-size: 13;
  margin-left: 5;
}
.container form #btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15;
  margin-top: 70px;
  margin-bottom: 10px;
}
.container form p {
  color: white;
  font-size: 12;
  text-align: center;
}
.container form p a {
  color: #6fbf73;
}

.login {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 60px;
  /* background: gray; */
  border: 2px solid white;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.login header {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}
.login form {
  width: 80%;
  margin: 0 auto;
}
.login form #email, .login form #password, .login form #date {
  background: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
  outline: none;
}
.login form .user {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.login form .user input {
  background: none;
  width: 48%;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 2px solid white;
  outline: none;
}
.login form .pass {
  position: relative;
}
.login form .pass div {
  position: absolute;
  right: 5;
  top: 11px;
  background: none;
  border: none;
  z-index: 10;
}
.login form .pass .openlock {
  display: none;
}
.login form .check {
  display: flex;
  align-items: center;
}
.login form .check label {
  color: white;
  font-size: 13;
  margin-left: 5;
}
.login form #btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15;
  margin-top: 70px;
  margin-bottom: 10px;
}
.login form p {
  color: white;
  font-size: 12;
  text-align: center;
}
.login form p a {
  color: #6fbf73;
}

.btn-clicked {
  background-color: #6fbf73;
  transition: 0.3s ease-in-out;
}

.openlock-click {
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 13px;
}
nav img {
  width: 50px;
  height: 50px;
}
nav ul {
  display: flex;
  width: 30%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #6fbf73;
}
nav ul li a::before, nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid transparent;
  width: 0;
  transition: 0.3s ease;
}
nav ul li a:hover::before, nav ul li a:hover::after {
  width: 50%;
  border-bottom-color: #6fbf73;
}
nav ul li a::before {
  left: 50%;
  transform: translateX(-50);
}
nav ul li a::after {
  right: 50%;
  transform: translateX(50);
}

.info {
  width: 80%;
  margin: 0 auto;
  color: white;
}
.info label {
  color: #6fbf73;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0%;
  margin: 0%;
  background-image: url(https://images.unsplash.com/photo-1502657877623-f66bf489d236?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */